RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Use PHP53 as default
AddHandler application/x-httpd-php53 .php
<IfModule mod_suphp.c>
    suPHP_ConfigPath /opt/php53/lib
    
</IfModule>
php_value upload_max_filesize 100M
php_value post_max_size 200M
php_value memory_limit 512M
RewriteRule ^(.*)$ index.php/$1 [L]